<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia.css">
	<link rel="stylesheet" href="__CSS__/rws.css">
</block>

<block name="area_body">
	<div controller="person/common">

		<div controller="person/renwu3" class="renwu3-processed">
			<div class="head_wrap clearfix">
				<div class="renwu_head">

					<div class="renwu_nav">
						<ul class="clearfix">
							<li class="l-ico"></li>
							<li>
								<a href="#" class="active">正常模式</a>
							</li>

							<li>
								<a href="#">手机模式</a>
							</li>
							<li class="r-ico"></li>
						</ul>
					</div>

					<div class="clearfix">
						<div class="body">
							<div class="lc">

								进店流程概述：
								<br> 1、清除浏览器cookies，使用淘宝号“
								<em>XXXXXX</em>”登录淘宝；<span class="tishi">如何清除cookie？ <span class="tip"></span></span>
								<br> 2、搜索关键字“
								<em>儿童舞蹈服装女童练功服少儿夏款</em>”，并按筛选要求缩小搜索范围；
								<br> 3、Ctrl+F“
								<em>wd93</em>”核对店铺旺旺；
								<br> 4、货比三家后，进入店铺；
								<br> 5、多点开几款宝贝浏览，并
								<em>收藏</em>宝贝；
								<br> 6、进店后需与商家旺旺
								<em>聊天</em>，若商家旺旺不在线，询问几句可直接下单；
								<br> 7、店铺停留时间不低于
								<em>10分钟</em>，严禁秒拍！
								<br> </div>
							<hr> 注意事项：
							<br> 1、禁止使用“
							<em>淘宝客</em>”“<em>返利网</em>”“<em>天猫积分</em>”“<em>淘金币</em>”等有损商家利益的方式下单；
							<br> 2、使用“
							<em>信用卡</em>”、“<em>花呗</em>”下单付款，平台将按实际下单金额的1%扣除手续费；
							<br>
						</div>
					</div>

				</div>
			</div>
			<div style="height: 40px;"></div>

			<div class="renwu_widget">
				<div class="h"></div>
				<div class="renwu_widget_box clearfix">
					<h2>

      <span class="t">进入店铺</span>

      <div class="sub_t">请核对商家的“旺旺”，确保下单无误</div>

    </h2>

					<div class="tip">
						<i></i>如果逛过各类导购返利网站，开始任务前请记得先清除浏览器缓存(如果您不确定，那也最好操作下)
					</div>

					<div class="body">

						<div class="c">
							<div class="m20">
								<div>1、打开淘宝网址：http://www.taobao.com 登录淘宝账号</div>
								<p class="keywords_p" unselectable="on" onselectstart="return false;">
									<span>儿童舞蹈服装女童练功服少儿夏款</span>
								</p>
							</div>

							<div class="m20">
								<div>2、按照筛选要求进一步缩小搜索结果范围</div>

								<div style="padding: 10px;background: #eee;color:#222;margin-bottom: 20px;">
									<p>&gt;&gt; 所有宝贝</p>

									<p>&gt;&gt; 价格从低到高</p>

									<p>价格区间:
										<input style="width:60px;" readonly="readonly" type="text"> -
										<input style="width:60px;" readonly="readonly" type="text" value="100.00">
									</p>

									<p>旺旺在线</p>
								</div>
							</div>
							<div class="m20">
								<div>3 、按下：<em>Ctrl+F</em>左上角搜索框输入“<em>wd93</em>” 查找当前页 (浏览器不同搜索框位置可能有所偏差)
									<br>
									<small class="muted" style="font-weight: 400;">如果筛选结果一步中未作特殊说明的话，一般在前5页就能找到对应商品。如果未找到，也请您耐心再翻两页</small>
								</div>
								<p class="ctrl_f" unselectable="on" onselectstart="return false;">
									<span>wd93</span>
								</p>
							</div>

							<div class="m20">
								<div>4、你可以将第3步中找到的商品与下图比较进入店铺</div>
								<p style="font-size:12px;color:#fc3ac3;font-weight: 400;">
									ps:搜索商品与试用品/任务商品不一定相关,下单时请以任务书为准
								</p>

								<div unselectable="on" onselectstart="return false;">
									<div class="theme_taobao_item_wrap">
										<div class="theme_taobao">
											<img class="img" src="__IMG__/TB1ZyBzFVXXXXXDXFXXXXXXXXXX_!!0-item_pic.jpg_220x220.jpg" alt="">
											<div class="row-1">
												<span class="pull-right">XX人付款</span>
												<span class="price">

                <span>¥</span> 60.00 </span>
											</div>
											<div class="row-2"><i class="title_msk"></i> 儿童舞蹈服装女童练功服少儿夏款拉丁舞蹈裙跳舞考级培训服新款 </div>
											<div class="row-3">
												<div class="pull-right">XX XX</div>
												<i class="goods_store"></i><span>wd93<i class="ali_wang"></i></span>
											</div>
											<div class="row-4">
												<i class="pull-right wangwang"></i> &nbsp;
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="m20" controller="person/renwu_sousuo" sec_sousuo_url="#" sec_sousuo_data="{&#39;policy&#39;:&#39;SCNhUZPBAR5O8Wdc52qMlqGEOifCYJlXpzb0dQvaHcP6Y7Hh0gbD02pgyQCxDDnP&#39;}">
								<div>5、核对旺旺号</div>
								<div>
									<div class="input-append">
										<input placeholder="请在这里输入找到的旺旺号" type="text" value="" name="" id=""><a id="queren_btn" onclick="return false;" class="btn" href="#">确认掌柜旺旺号</a>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="f"></div>
			</div>
			<a name="a-xiadan" id="a-xiadan"></a>
			<div class="renwu_widget">
				<div class="h"></div>
				<div class="renwu_widget_box clearfix">
					<h2>

      <span class="t">拍下商品并付款</span>

      <div class="sub_t">请核对“款号”“件数”“金额”无误后付款</div>

    </h2>

					<div class="tip">
						<i></i>浏览宝贝时请深度浏览至页面底部(直接滚动条拉到底暂时不关闭页面即可),顺手也收藏下宝贝呗～
					</div>

					<div class="body">
						<div class="c renwu_list">
							<div class="ovh">
								<ul>
									<li>
										<div class="item clearfix">
											<div class="img">
												<img src="__IMG__/TB13xCbFVXXXXc_XFXXXXXXXXXX_!!0-item_pic.jpg_50x50.jpg">
											</div>
											<div class="bd">
												<div class="t">
													儿童拉丁***2015新款
													<br> 规格: </div>
												<div class="sx">
													单价：元
													<br> 件数：
													<span>1</span>
													<br>
												</div>

											</div>
											<div class="weizhi">
												<span class="muted">位置信息：</span>
												<br>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="text-right songti" style="line-height: 30px;margin-bottom: 10px;">
							<span style="vertical-align:5px;">

        预期支付金额:<span style="font-size: 18px;">≤</span>
							</span>
							<span class="shuliang price">￥60.00</span>
						</div>

						<div class="shuoming">
							进店聊天: 需要与客服聊天、浏览店铺<span>十分钟</span>以上，禁止秒拍
						</div>
					</div>
				</div>

				<div class="f"></div>
			</div>

		</div>

		<a name="a-tijiao" id="a-tijiao"></a>

		<div class="renwu_widget">
			<div class="h"></div>
			<div class="renwu_widget_box clearfix">
				<h2>

      <span class="t">提交订单</span>

      <div class="sub_t">所提交的“订单号”“金额”“地址”必须与淘宝订单一致</div>

    </h2>

				<div class="tip">
					<i></i>浏览宝贝时请深度浏览至页面底部(直接滚动条拉到底暂时不关闭页面即可),顺手也收藏下宝贝呗～
				</div>
				<div class="body">
					<div>
						<div style="height:100px;font-size:22px;padding: 50px 0;height:150px;">
							试民在此提交订单
						</div>
					</div>
				</div>
			</div>

			<div class="f"></div>
		</div>

		<div class="renwu_footer">
			<div class="f1"></div>
			<div class="text-center small">如有疑问请加入试民官方群<span class="price">（33333333333）</span>或咨询热线：<span class="price">4000-400-000</span>
			</div>
		</div>
	</div>
</block>

<block name="area_footer">

</block>

/html>