<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/shangjia.css">

</block>

<block name="area_body">
	<div class="seller_header_wrap">
		<div class="seller_header clearfix" style="background: url(__IMG__/header_main_bg.jpg);">
			<a class="logo" href="#" style=" background: url(__IMG__/logo.png) no-repeat 20px;"></a>
			<div class="pull-left gzt btn-group">
				<a class="shifu btn" href="#">试福</a>
				<a class="taofu btn" href="#">淘福</a>
				<a class="dropdown-toggle btn" data-toggle="dropdown" href="javascript:;">　账户关联　 <b class="caret"></b></a>
				<ul role="menu" class="dropdown-menu pull-right">
					<li role="menuitem"><a tabindex="-1" href="#">关联店铺管理&gt;&gt;</a>
					</li>
				</ul>
			</div>
			<a style="margin-top:57px; margin-left:20px;" class="text-info pull-left" href="#">试民淘宝号确认</a>
			<div class="topmenu">
				<ul class="clearfix">
					<li>
						<div>您好，<span class="text-link">{$username}</span>
							<a href="{:U('Home/Usersj/exits')}">[退出]</a>
						</div>
					</li>
					<li class="shangjia"><a href="{:U('Home/Usersj/index')}">商家中心</a>
					</li>
					<li><a href="{:U('Home/Index/index')}">回到首页</a>
					</li>
					<li><a href="{:U('Home/Usersj/sj_znxx')}">站内消息</a>
					</li>
					<li class="bangzhu"><a href="#">帮助中心</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div></div>
	<div class="seller_main clearfix" controller="seller/common">
		<div class="seller_content_wrap">
			<div class="seller_content" style="padding-top: 10px;">

				<div class="content">
					<ul class="nav nav-tabs" role="menu">
						<li class="active" role="menuitem"><a tabindex="-1" href="http://www.shifujie.net/seller/vip/index">开通会员</a>
						</li>
					</ul>
					<div class="vip_wrap">
						<form class="form-horizontal jquery-once-1-processed ng-scope ng-pristine ng-valid" controller="extend/ajax_form,extend/angular" data-scope="{&quot;xufei_zhekou_list&quot;:{&quot;1&quot;:1,&quot;3&quot;:0.9,&quot;6&quot;:0.8,&quot;12&quot;:0.6},&quot;nianfei_youhui&quot;:0,&quot;base_price&quot;:500}"
						id="yw0" action="{:U('Home/SJMoney/vip')}" method="post" novalidate="novalidate">
							<input type="hidden" name="sgrade" ng-value="sgrade" ng-init="sgrade=2" value="2">
							<input type="hidden" name="form_id" value="kaitong_form">
							<input type="hidden" name="price" ng-value="price" value="NaN">
							<input type="hidden" id="moneya" name="money" value=""/>
							<input type="hidden" id="lv" name="lv">
							<div class="control-group">
								<label class="control-label">
									开通服务
								</label>

								<div class="controls">
									<div>
										<a id="vip" href="javascript:;" class="vip"><i ></i>VIP会员</a>
										<a id="svip" href="javascript:;"><i ></i>S-VIP会员</a>
									</div>

									<div style="margin-top: 20px">
										<div class="ng-vip">费用：300元/月</div>
										<div class="ng-svip">费用：600元/月</div>
										<div>
											您当前服务状态：普通会员
										</div>
									</div>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="xufei_type">开通时间</label>
								<div class="controls">
									<select name="xufei_type" id="xufei_type" class="ng-pristine ng-valid">
										<option value="">请选择服务时长</option>
										<option value="1">1个月(无折扣)</option>
										<option value="3">3个月 (9折优惠)</option>
										<option value="6">6个月 (8折优惠)</option>
										<option value="12">1年 (6折优惠)</option>
									</select>
								</div>
							</div>
							<div class="control-group clearfix" style="margin-top:-10px;line-height:1.2em;">
								<label class="control-label">&nbsp;</label>
								<div class="controls" style="padding-top:8px;">会员时间越长，折扣越高，最高更可享受6折优惠</div>
							</div>
							<div class="control-group">
								<label class="control-label">应付金额</label>
								<div class="controls text">
									<!-- ngIf: !xufei_type -->
									<div ng-if="!xufei_type" class="ng-scope">
										<span class="yingfu">  </span>
									</div>
									<!-- end ngIf: !xufei_type -->
									<div ng-show="xufei_type" ng-value="youhui=xufei_type==12?nianfei_youhui:0;bili=sgrade==3?1:0.6" class="ng-hide" value="0.6">
										<span class="yingfu ng-binding"> ￥NaN </span>
										<span ng-show="xufei_type&gt;1" class="muted ng-binding ng-hide">(原价 NaN元，优惠 NaN元)</span>
									</div>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">支付方式</label>
								<div class="controls text">账户可用余额 <span class="price">{$coins}</span> 元, <a class="text-info" target="_blank" href="http://www.shifujie.net/seller/price">查看钱庄</a>
								</div>
							</div>
							<!-- ngIf: price>0.00 -->

							<div class="control-group">
								<label class="control-label" for="password">操作密码</label>
								<div class="controls">
									<input required="required" type="password" value="" name="pwd" id="password"><span class="help-inline">你需要输入密码才能做该操作</span>
								</div>
							</div>
							<div class="form-actions">
								<button ng-class="{disabled:!xufei_type||price&gt;0.00}" class="btn btn-primary disabled" type="submit" name="yt0">确认开通</button>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="siderbar">

			<dl class="open">
				<dt class="s_vip">

      <span>账号管理</span>
   		 </dt>
				<dd><a class="" href="{:U('Home/Usersj/sj_zhxx')}"><span>账号信息</span></a></dd>
				<dd><a class="" href="{:U('Home/Usersj/sj_zhaq')}"><span>账户安全</span></a></dd>
				<dd><a class="" href="{:U('Home/Usersj/sj_xgmm')}"><span>修改密码</span></a></dd>
			</dl>
			<dl>
				<dt> <a class="" href="{:U('Home/Usersj/sj_znxx')}">站内消息</a> </dt>
				<dt class="s_money"> <a class="" href="{:U('Home/Usersj/sj_zjgl')}">资金管理</a> </dt>
				<dt> <a class="active" href="{:U('Home/Usersj/sj_viptd')}">VIP通道</a> </dt>
				<dt> <a class="" href="{:U('Home/Usersj/sj_sfkt')}">试福课堂</a> </dt>
		 	</dl>
		</dt>
			<div class="adorn_bottom"></div>
		</div>
	</div>
	<input type="hidden" id="vipPrice" value="300"/>
</block>

<block name="area_footer">
	<script type="text/javascript">
		$(function(){
			$('.ng-svip').hide();
			$('#lv').val('1');
			$('#vip').click(function(){
				$('#lv').val('1');
				$('.ng-svip').hide();
				$('.ng-vip').show();
				$(this).addClass('vip');
				$('#svip').removeClass('vip');
				$("#vipPrice").val(300);
				$('#xufei_type').change();
				
			})
			$('#svip').click(function(){
				$('#lv').val('2');
				$('.ng-vip').hide();
				$('.ng-svip').show();
				$(this).addClass('vip');
				$('#vip').removeClass('vip');
				$("#vipPrice").val(600);
				$('#xufei_type').change();
				
			})
			$('#xufei_type').change(function(){
				var dz=1;
				if($(this).val()==1){
					dz=1;
				}else if($(this).val()==3){
					dz=0.9;
				}else if($(this).val()==6){
					dz=0.8;
				}else if($(this).val()==12){
					dz=0.6;
					
				}
				$('.yingfu').text("￥"+($("#vipPrice").val()*$(this).val()*dz));
				$('#moneya').val($("#vipPrice").val()*$(this).val()*dz);
			})
		})
	</script>
</block>