<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/manager.css" />
	<script type="text/javascript" src="__PUBLIC__/Home/js/manager.js"></script>
</block>

<block name="area_body">
	<div class="div_all">
		<div class="div_top1">
			<div class="div_gonggao"><i class="am-icon-bullhorn"></i>&nbsp;试福街美食频道下线通知</div>
			<div class="div_zhongxin"><font color="#FD5E85">{$username}</font>，欢迎来到试福街！[<a href="{:U('Home/Index/exits')}">退出</a>]&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Home/Index/sm_manager')}">试民中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Home/Index/index')}">回首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="#">帮助中心</a>
			</div>
		</div>
		<div class="div_top2">
			<div style="float: left; ">
				<img src="__IMG__/baobei_logo.jpg" />
			</div>
			<div style="float: left; padding: 10px;color: #FFFFFF; margin-left:50px; margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 "; opacity: 0.2;">
				<a href="#">试民中心</a>
			</div>
			<div style="float: left;padding: 10px;color: #FFFFFF;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 ";opacity: 0.2">
				<a href="#">因伙得福</a>
			</div>
			<div style="float: left;padding: 10px;color: #FFFFFF;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 ";opacity: 0.2">
				<a href="#">试福课堂</a>
			</div>
		</div>
		
		<div class="div_left">
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_znxx')}" style=""><span class="demo-icon-actions"><i class="am-icon-envelope am-margin-xs" ></i>站内信息</a>
				</div>

			</div>
			<dl class="dl_menu">
				<dt class="dt_menu"><font><i class="am-icon-calendar-o"></i>&nbsp;活动准备</font></dt>
				<dd class="dd_menu"><a class="sed" href="{:U('Home/Usersm/manager_rw')}"><i class="am-icon-caret-right"></i>&nbsp;任务设置</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_dhsp')}"><i class="am-icon-caret-right"></i>&nbsp;兑换商品</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_ydsp')}"><i class="am-icon-caret-right"></i>&nbsp;预定商品</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_xfyd')}"><i class="am-icon-caret-right"></i>&nbsp;幸福一点</a>
				</dd>
			</dl>
			<dl class="dl_menu">
				<dt class="dt_menu"><font ><i class="am-icon-bullhorn"></i>&nbsp;活动管理</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_bbhd')}"><i class="am-icon-caret-right"></i>&nbsp;试福活动</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_schd')}"><i class="am-icon-caret-right"></i>&nbsp;收藏活动</a>
				</dd>
			</dl>
			<dl class="dl_menu">
				<dt class="dt_menu"><font ><i class="am-icon-user-md"></i>&nbsp;账号设置</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/index')}"><i class="am-icon-caret-right"></i>&nbsp;基本信息</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_aqzx')}"><i class="am-icon-caret-right"></i>&nbsp;安全中心</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/address')}"><i class="am-icon-caret-right"></i>&nbsp;收货地址</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_xzgl')}"><i class="am-icon-caret-right"></i>&nbsp;勋章管理</a>
				</dd>
				<br />
				<br />

			</dl>
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_shfx')}" style=" padding-left: 15px;"><i class="am-icon-skyatlas"> </i>&nbsp;晒货分享</a>
				</div>
			</div>
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_bbqz')}" style=" padding-left: 15px;"><i class="am-icon-credit-card"> </i>&nbsp;资金管理</a>
				</div>
			</div>
		</div>
		<div class="div_right">
			<div class="div_minTitle">
				<h3>任务设置</h3>
			</div>
			<div class="div_minContent" style="padding: 20px;">
				<div style="background: white; width: 1000px; height: 100px; border-radius:9px; border: 1px solid #ccc;">
					<div style="line-height: 60px; margin-left:50px;">
						当前任务状态：<a href="" style="text-decoration: none;  background: #ff698e; padding: 5px; color: white; border-radius: 5px;">任务开启中（100元）</a>日任务金额：<font color="#b94a48" style="font-family: Verdana,Tahoma,arial;">￥100</font>
					</div>
					<div style="margin-left:100px;font-size: 12px;">
						您如果有事不能接试福活动，请及时 <a href="#" style="text-decoration: none; color: #b94a48;">关闭任务状态</a>
					</div>

				</div>

				<div class="div_minSet">
					<ul>
						<li class="li_first">已设置</li>
						<li class="li_title">日任务金额 </li>
						<li style="width:70%; text-align: center;"><font color="red">100</font>元(每天接受任务的总金额，限额越高机会越多)</li>
						<li class="li_last"><a href="#">收起</a>
						</li>
					</ul>
				</div>
				<div class="div_minSetInfo">
					日任务金额
					<input style=" list-style: none; margin-left: 10px; border-bottom-left-radius: 3px; border-top-left-radius: 3px; border: 1px solid #ccc; " />
					<input type="button" style=" list-style: none;border-bottom-right-radius: 3px; border-top-right-radius: 3px; border: 1px solid #ccc;" disabled="disabled" value="元" />
					<input type="button" value="确认修改" style="list-style:none; background: #d13f3a; margin-left: 10px; border:none; color: white; border-radius: 3px; font-size: 14px; padding:5px; " />
				</div>

				<div class="div_minSet" style="">
					<ul>
						<li class="li_first">未设置</li>
						<li class="li_title">淘宝账号 </li>
						<li style="width:70%; text-align: center;">hbddingding 实名认证</li>
						<li class="li_last"><a href="#">收起</a>
						</li>
					</ul>
				</div>
				<div class="div_minSetInfo">
					淘宝账号
					<input style=" list-style: none; margin-left: 10px; border-bottom-left-radius: 3px; border-top-left-radius: 3px; border: 1px solid #ccc; " />
					<input type="button" value="设置" style="list-style:none; background: #d13f3a; border:none; color: white; border-bottom-right-radius: 3px;border-top-right-radius:3px; font-size: 14px; padding:3px; " /> <a href="" style="text-decoration: none; margin-left: 20px;">管理淘宝号</a>

				</div>

				<div class="div_minSet" style="">
					<ul>
						<li class="li_first">未设置</li>
						<li class="li_title">联系方式</li>
						<li style="width:70%; text-align: center;">手机号: 13477923813 QQ号: 136399388</li>
						<li class="li_last"><a href="#">收起</a>
						</li>
					</ul>
				</div>
				<div class="div_minSetInfo" style="line-height: 40px;">
					<div>更换联系手机
						<input style=" list-style: none; margin-left: 10px; border-bottom-left-radius: 3px; border-top-left-radius: 3px; border: 1px solid #ccc; " />
						<input type="button" value="设置" style="list-style:none; background: #d13f3a; border:none; color: white; border-bottom-right-radius: 3px;border-top-right-radius:3px; font-size: 14px; padding:3px; " />
					</div>
					<div>
						更换联系QQ
						<input style=" list-style: none; margin-left: 10px; border-bottom-left-radius: 3px; border-top-left-radius: 3px; border: 1px solid #ccc; " />
						<input type="button" value="设置" style="list-style:none; background: #d13f3a; border:none; color: white; border-bottom-right-radius: 3px;border-top-right-radius:3px; font-size: 14px; padding:3px; " />
					</div>
				</div>

				<div class="div_minSet" style="">
					<ul>
						<li class="li_first">已设置</li>
						<li class="li_title">淘福任务 </li>
						<li style="width:70%; text-align: center;">获取更多的任务机会</li>
						<li class="li_last"><a href="#">收起</a>
						</li>
					</ul>
				</div>
				<div class="div_minSetInfo" style="line-height: 40px; text-align: left;">
					<div style="font-size: 12px; margin-left: 50px;">
						关闭淘福任务 <font color="#b94a48" style="font-size: 14px; margin-left: 5px;">停止接受淘福任务,同时失去淘福勋章</font>
						<input type="button" value="暂停淘福" style="list-style:none; background: #f9a732; border:none; color: white; border-radius: 3px;  padding:2px; margin-left: 20px; "
						/>
					</div>
					<div style="font-size: 12px; color: #CCCCCC; padding-left:120px;">
						你可以接收由商家发布的淘福任务，此任务由商家发出物流，所以不能选择兑换试福商品，但是，可以获取全额的福币。同时，还可以获得【淘福章】一枚!
					</div>
				</div>

				<div class="div_minDl">

					<dl>
						<dt>1、任务设置</dt>
						<dd>试民中心-任务设置</dd>
						<dd class="dd_last">设置好任务参数，并且是开启状态，即可正常接收试福任务。</dd>
					</dl>
					<dl>
						<dt>2、按任务书下单</dt>
						<dd>试民中心-试福管理</dd>
						<dd class="dd_last">按任务书要求到淘宝下单，并及时试福街提交订单。</dd>
					</dl>
					<dl>
						<dt>3、淘宝收货</dt>
						<dd>淘宝网-已买宝贝</dd>
						<dd class="dd_last">收到货后，查看物流信息已签，然后，五星+10字以上的评语。</dd>
					</dl>
					<dl>
						<dt>4、试福街收货</dt>
						<dd>试民中心-试福管理</dd>
						<dd class="dd_last">淘宝收货后，请及时到试福街后台确认收货。不要忘记了哦~</dd>
					</dl>
					<dl>
						<dt>5、等待商家返款</dt>
						<dd>试民中心-试福钱庄</dd>
						<dd class="dd_last">商家确认后，钱会返至试福钱庄。</dd>
					</dl>
					<dl>
						<dt>6、钱庄提现</dt>
						<dd>试民中心-试福钱庄</dd>
						<dd class="dd_last">您可以提现至已绑定账号，会在1-2个工作日内到账。</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</block>

<block name="area_footer">
	<div id="foot">
		杭州博也科技有限公司，保留一切权利。
		<br> 浙ICP备13025642号-2 ©2013 shifujie.net 版权所有
		<br>
	</div>

</block>