<extend name="template/base_index" />

<block name="area_header">
<script type="text/javascript" src="__PUBLIC__/Home/js/location.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/area.js"></script>
	<script src="__PUBLIC__/Home/js/select2.js"></script>
	<link href="__PUBLIC__/Home/css/select2.css" rel="stylesheet" />
			<link rel="stylesheet" href="__CSS__/manager.css" />
	<script type="text/javascript">
		$(function(){
				$('#loc_province').change(function(){
					var sheng=$('#loc_province option:selected').text();
					$('.sheng').val(sheng);
				})
				$('#loc_city').change(function(){
					var shi=$('#loc_city option:selected').text();
					$('.shi').val(shi);
				})
				$('#loc_town').change(function() {
				//$('input[@name=location_id]').val($(this).val());
				var qu=$('#loc_town option:selected').text();
							//var qu=$('#loc_town').select2('data').text
							//alert(qu);
				$('.qi').val(qu);
		
				})
				
			})
	</script>

</block>

<block name="area_body">
<div class="div_all">
		<div class="div_top1">
			<div class="div_gonggao"><i class="am-icon-bullhorn"></i>&nbsp;试福街美食频道下线通知</div>
			<div class="div_zhongxin"><font color="#FD5E85">{$username}</font>，欢迎来到试福街！[<a href="{:U('Home/Index/exits')}">退出</a>]&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Home/Index/sm_manager')}">试民中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Home/Index/index')}">回首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="#">帮助中心</a>
			</div>
		</div>
		<div class="div_top2">
			<div style="float: left; ">
				<img src="__IMG__/baobei_logo.jpg" />
			</div>
			<div style="float: left; padding: 10px;color: #FFFFFF; margin-left:50px; margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 "; opacity: 0.2;">
				<a href="#">试民中心</a>
			</div>
			<div style="float: left;padding: 10px;color: #FFFFFF;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 ";opacity: 0.2">
				<a href="#">因伙得福</a>
			</div>
			<div style="float: left;padding: 10px;color: #FFFFFF;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 ";opacity: 0.2">
				<a href="#">试福课堂</a>
			</div>
		</div>
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">邮箱认证
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<form action="{:U('Home/Usersm/email')}" method="post">
					<div class="am-modal-bd">
						<input type="hidden" name="id" value="{$entity['id']}" />
						<input type="text" name="email" value="{$email}">
						<input style="font-family: '微软雅黑'; font-size: 13px; border-radius:5px ; margin-top: -8px;" class="am-btn-danger am-btn-xs" type="submit" value="确认" />
					</div>
				</form>
			</div>
		</div>
		
		<div class="div_left">
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_znxx')}" style=""><span class="demo-icon-actions"><i class="am-icon-envelope am-margin-xs" ></i>站内信息</a>
				</div>

			</div>
			<dl class="dl_menu">
				<dt class="dt_menu"><font><i class="am-icon-calendar-o"></i>&nbsp;活动准备</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/manager_rw')}"><i class="am-icon-caret-right"></i>&nbsp;任务设置</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_dhsp')}"><i class="am-icon-caret-right"></i>&nbsp;兑换商品</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_ydsp')}"><i class="am-icon-caret-right"></i>&nbsp;预定商品</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_xfyd')}"><i class="am-icon-caret-right"></i>&nbsp;幸福一点</a>
				</dd>
			</dl>
			<dl class="dl_menu">
				<dt class="dt_menu"><font ><i class="am-icon-bullhorn"></i>&nbsp;活动管理</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_bbhd')}"><i class="am-icon-caret-right"></i>&nbsp;试福活动</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_schd')}"><i class="am-icon-caret-right"></i>&nbsp;收藏活动</a>
				</dd>
			</dl>
			<dl class="dl_menu">
				<dt class="dt_menu"><font ><i class="am-icon-user-md"></i>&nbsp;账号设置</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/index')}"><i class="am-icon-caret-right"></i>&nbsp;基本信息</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_aqzx')}"><i class="am-icon-caret-right"></i>&nbsp;安全中心</a>
				</dd>
				<dd class="dd_menu"><a class="sed" href="{:U('Home/Usersm/address')}"><i class="am-icon-caret-right"></i>&nbsp;收货地址</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_xzgl')}"><i class="am-icon-caret-right"></i>&nbsp;勋章管理</a>
				</dd>
				<br />
				<br />

			</dl>
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_shfx')}" style=" padding-left: 15px;"><i class="am-icon-skyatlas"> </i>&nbsp;晒货分享</a>
				</div>
			</div>
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_bbqz')}" style=" padding-left: 15px;"><i class="am-icon-credit-card"> </i>&nbsp;资金管理</a>
				</div>
			</div>
		</div>
			<div class="div_right">

				<div class="div_minTitle">
					<h3>预定商品</h3>
				</div>
				<div class="div_minContent" style="padding: 20px;">

					<div class="div_minSet" style="background: #fbf9fa; line-height: 35px; padding-left: 20px; font-size: 14px;">
						<b>基本资料</b>
					</div>
					<div class="div_minInfo">
						<form action="{:U('Home/Usersm/edit')}" method="post">
							<volist name="addres" id="v">
							<input type="hidden" name="id" value="{$v.id}" />
							<table>
								<tr>
									<td class="td_title">收货人姓名：</td>
									<td>
										<input name="name" value="{$v.contact_name}" style="list-style: none; width: 220px;border-radius:3px;border: 1px solid #ccc;" />
									</td>
								</tr>
								<tr>
									<td class="td_title">所在地区：</td>
									<td>
										<select id="loc_province" style="width:120px;">
										</select>
										<input type="hidden" name="sheng" class="sheng" />
										<input type="hidden" name="shi" class="shi" />
										<input type="hidden" name="qu" class="qi" />
										<select id="loc_city" style="width:120px; margin-left: 10px">
										</select>
										<select id="loc_town" style="width:120px;margin-left: 10px">
										</select>
									</td>

								</tr>
								<tr>
									<td class="td_title">详细地址：</td>
									<td>
										<textarea name="address" cols="50" rows="3" style=" border-color: #ccc; border-radius:3px;">{$v.detail}</textarea>
									</td>
								</tr>
								<tr>
									<td class="td_title">邮政编码：</td>
									<td>
										<input value="{$v.post_code}" name="yb" style="list-style: none; width: 100px;border-radius:3px;border: 1px solid #ccc;" />
									</td>
								</tr>
								<tr>
									<td class="td_title">手机号码：</td>
									<td>
										<input value="{$v.mobile}" name="mobile" style="list-style: none; width: 220px;border-radius:3px;border: 1px solid #ccc;" />电话号码、手机号码必填一项</td>

								</tr>
								<tr>
									<td class="td_title">电话号码：</td>
									<td>
										<input value="{$v.telphone}" name="phone" style="list-style: none; width:50px;border-radius:3px;border: 1px solid #ccc;" />-
										<input style="list-style: none; width:170px;border-radius:3px;border: 1px solid #ccc;" />-
										<input style="list-style: none; width:50px;border-radius:3px;border: 1px solid #ccc;" />区号-电话号码-分机</td>

								</tr>

								<tr>

									<td colspan="2">
										<div style="padding: 25px;">
											<input  type="submit" value="确认修改" style="margin-left: 50px;"></input>
										</div>
									</td>
								</tr>
							</table>
							</volist>
						</form>
					</div>
					<table style="width: 1020px; margin-top: 9px; color: #848383;">

						<tr style="border: 1px solid #ccc; background: white; height: 37px;">
							<td style="padding-left: 20px;">收货人</td>
							<td>所在地</td>
							<td>详细地址</td>
							<td>邮编</td>
							<td>电话/手机</td>
							<td>操作</td>
						</tr>
						<volist name="address" id="vo">
						<tr style="border: 1px solid #ccc; height: 37px; font-size: 12px;">
							<td>{$vo.contact_name}</td>
							<td>{$vo.province} {$vo.city} {$vo.area} </td>
							<td>{$vo.detail}</td>
							<td>{$vo.post_code}</td>
							<td>{$vo.mobile}{$vo.telephone}</td>
							<td>
									<a class="am-btn am-btn-danger am-btn-xs" href="{:U('Home/Usersm/edit',array('id'=>$vo['id']))}">编辑</a>
									<a class="am-btn am-btn-danger am-btn-xs" href="{:U('Home/Usersm/del',array('id'=>$vo['id']))}">删除</a>
								
							</td>
						</tr>
						</volist>
					</table>
				</div>
			</div>
		</div>
</block>

<block name="area_footer">
	
</block>


