<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Home/js/location.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/area.js"></script>
	<link type="text/css" rel="stylesheet" href="__CDN__/theme/{$cfg.theme|default="simplex"}.min.css" />
	<script src="__CDN__/select2/3.5.2/select2.js"></script>
	<link href="__CDN__/select2/3.5.2/select2.css" rel="stylesheet" />
	<link rel="stylesheet" href="__CSS__/manager.css" />
	<style type="text/css">
		.yz li{ height: 55px;line-height: 40px;margin-left: 20px;padding-left: 53px;}
		.yz i{color: #CCCCCC; font-size: 60px; float: left; font-size: 40px; margin-top: -15px;}
		.am-modal-dialog{ height: 300px !important; margin-top: -15% !important;}
		.am-modal-bd{ text-align: left;  padding: 10px; margin-left: 20px; font-size: 14px;}
		.am-modal-bd input{ margin-top: 5px; }.am-modal-bd select{ margin-top: 5px; }
		.am-modal-bd span{ font-size: 10px; }
		.bank tr td{font-size: 13px;}
		.am-icon-mobile{padding-left: 10px;}
		.am-modal-hd { position :relative; }
	</style>
	
</block>

<block name="area_body">
	<div class="div_all">
		<div class="div_top1">
			<div class="div_gonggao"><i class="am-icon-bullhorn"></i>&nbsp;试福街美食频道下线通知</div>
			<div class="div_zhongxin"><font color="#FD5E85">{$username}</font>，欢迎来到试福街！[<a href="{:U('Home/Index/exits')}">退出</a>]&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Home/Index/sm_manager')}">试民中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Home/Index/index')}">回首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="#">帮助中心</a>
			</div>
		</div>
		<div class="div_top2">
			<div style="float: left; ">
				<img src="__IMG__/baobei_logo.jpg" />
			</div>
			<div style="float: left; padding: 10px;color: #FFFFFF; margin-left:50px; margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 "; opacity: 0.2;">
				<a href="{:U('Home/Index/sm_manager')}">试民中心</a>
			</div>
			<div style="float: left;padding: 10px;color: #FFFFFF;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 ";opacity: 0.2">
				<a href="#">因伙得福</a>
			</div>
			<div style="float: left;padding: 10px;color: #FFFFFF;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 ";opacity: 0.2">
				<a href="#">试福课堂</a>
			</div>
		</div>
		
		<div class="div_left">
			<include file="partials/leftmenu" />
		</div>
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-2">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">更换提现账号
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<form action="{:U('Home/SMMoney/deposit')}" method="post">
					<div class="am-modal-bd">
						请输入提款金额：<input type="number" name="money" id="money" /><br /><span style="font-size: 12px; color: forestgreen;">提现金额不得大于总金额</span>
					</div>
					<input id="qr" style="font-family: '微软雅黑'; font-size: 13px; border-radius:5px ; margin-top: -8px;" class="am-btn-danger am-btn-xs" type="submit" value="确认" />
				</form>
			</div>
		</div>
		<div class="div_right">
			<div class="div_minTitle">
				<h3>宝贝钱庄</h3>
			</div>
			<div class="div_minContent" style="padding: 20px;">
				<table border="1" style=" width: 1100px; height: 300px; margin-left: 10px;" bordercolor="#ccc">
					<tr>
						<td>
							<div>
								<table style="width: 100%;">
									<tr>
										<td colspan="3" style="padding-top:0;">资金概况
											<button id="tixian" class="am-btn am-btn-primary am-btn-xs" style="font-family: '微软雅黑'; font-size: 13px; width: 80px; height: 30px;line-height: 10px; padding: 10px; border-radius:5px ;"
										 data-am-modal="{target: '#doc-modal-2', closeViaDimmer: 0, width: 400, height: 225}">提现</button>
										</td>
									</tr>
									<tr>
										<td>总余额:</td>
										<td>可用余额:</td>
										<td>提现中余额:</td>
									</tr>
									<tr>
										<td style="color:red">￥{$coins}</td>
										<td style="color:red">￥{$coins}</td>
										<td style="color:red">￥{$sum}.000</td>
									</tr>
								</table>
							</div>
						</td>
						<td rowspan="2">
							<div style="padding-bottom: 20px;"><i class="am-icon-medkit" ></i>&nbsp;安全中心</div>
							<ul style="" class="yz">
								<empty name="email">
									<i class="am-icon-envelope-o"></i>
									<li >邮箱认证</li>
									<else/>
									<i class="am-icon-envelope-o" style="color: hotpink;" ></i>
									<li>邮箱认证</li>
								</empty>
								<empty name="phone">
									<i class="am-icon-mobile"></i>
									<li >手机认证</li>
									<else/>
									<i class="am-icon-mobile" style="color: hotpink;" ></i>
									<li >手机认证</li>
								</empty>
								<empty name="mibao">
									<i class="am-icon-gear"></i>
									<li>密保设置</li>
									<else/>
									<i class="am-icon-gear" style="color: hotpink;" ></i>
									<li >密保设置</li>
								</empty>
							</ul>

						</td>
					</tr>
					<tr>
						<td>
							<table class="bank" style="width: 100%;">
								<tr>
									<td colspan="4"><b style="color: #999;">提现账号 </b>
										<button class="am-btn am-btn-primary am-btn-xs" style="font-family: '微软雅黑'; font-size: 13px; width: 80px; height: 30px;line-height: 10px; padding: 10px; border-radius:5px ;"
										 data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 225}">更换账号</button>
									</td>
								</tr>
								<tr>
									<td>提现至:</td>
									<td>帐号:</td>
									<td>姓名:</td>
									<td>开户信息:</td>
								</tr>
								<tr>
									
									<td>{$bank['bank_name']}</td>
									<td>{$bank['bank_account']}</td>
									<td>{$bank['cardholder']}</td>
									<td>{$bank['province']}{$bank['city']}</td>
								</tr>
								
							</table>

						</td>
						
					</tr>
				</table>
				
			<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">更换提现账号
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<form action="{:U('Home/Usersm/addbank')}" method="post">
					<div class="am-modal-bd">开户行：
						<select name="bank">
							<option value="">请选择</option>
							<option value="招商银行">招商银行</option>
							<option value="工商银行">工商银行</option>
							<option value="建设银行">建设银行</option>
							<option value="兴业银行">兴业银行</option>
							<option value="农业银行">农业银行</option>
							<option value="邮政储蓄">邮政储蓄</option>
							<option value="交通银行">交通银行</option>
							<option value="广东发展银行">广东发展银行</option>
							<option value="中信银行">中信银行</option>
							<option value="光大银行">光大银行</option>
							<option value="民生银行">民生银行</option>
							<option value="浦发银行">浦发银行</option>
							<option value="中国银行">中国银行</option>
							<option value="农村信用社">农村信用社</option>
							<option value="北京银行">北京银行</option>
							<option value="平安银行">平安银行</option>
							<option value="农村商业银行">农村商业银行</option>
							<option value="广东南粤银行">广东南粤银行</option>
							<option value="上海银行">上海银行</option>
						</select><br><span style="color: forestgreen;">推荐使用银行卡提现，每日提现三次且不收取手续费</span><br>
						银行账号：<input type="tel" name="bank_num" id="daan" value="" /><br>
						持卡人：<input type="text" name="name" id="daan" value="" /><br>
						开户信息：<select id="loc_province" style="width:120px; margin-top: 5px;"></select>
						<select id="loc_city" style="width:120px; margin-left: 10px;margin-top: 5px;"></select><br>
						输入登录密码：<input type="password" name="pwd" id="daan" value="" /><br>
						<input type="hidden" name="sheng" class="sheng" />
						<input type="hidden" name="shi" class="shi" />
					</div>
					<input style="font-family: '微软雅黑'; font-size: 13px; border-radius:5px ; margin-top: -8px;" class="am-btn-danger am-btn-xs" type="submit" value="确认" />
				</form>
			</div>
		</div>
				<script type="text/javascript">
					function changeTab(i){
						$(".div_right .div_minContent #div_tabs ul li").eq(i).addClass("am-active").siblings().removeClass("am-active");
						$(".div_right .div_minContent #div_tabs .am-tabs-bd .am-tab-panel").eq(i).addClass("am-active").siblings().removeClass("am-active");
					}
				</script>
				<div data-am-widget="tabs" id="div_tabs" class="am-tabs am-tabs-d2" style="width: 1100px;">
					<ul class="am-tabs-nav am-cf" style="width: 300px;">
						<li class="am-active">
							<a href="javascript:changeTab(0)">账号收支明细</a>
						</li>
						<li class="">
							<a href="javascript:changeTab(1)">提现明细记录</a>
						</li>

					</ul>
					<div class="am-tabs-bd" style="border: 1px solid #CCCCCC; font-size: 14px;">
						<div data-tab-panel-0 class="am-tab-panel am-active">
							<table class="am-table" style="border: 1px solid #CCCCCC;">
								<thead>
									<tr style="background: white;">
										<th>交易编号</th>
										<th>交易时间</th>
										<th style="width: 50%;">名称|备注</th>
										<th>收入</th>
										<th>支出</th>
										<th>金额</th>
									</tr>
								</thead>
								<tbody>
									<volist name="jilu" id="vo">
										
										
									<tr>
										<td>{$vo.id}</td>
										<td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
										<td>{$vo.notes}</td>
										<td>{$vo.income}</td>
										<td>{$vo.defray}</td>
										<td>{$vo.defray}</td>
									</tr>
									</volist>	
									
								</tbody>
								
							</table>
							<div>{$show}</div>
						</div>
						<div data-tab-panel-1 class="am-tab-panel  ">
							<table class="am-table" style="border: 1px solid #CCCCCC;">
								<thead>
									<tr style="background: white;">
										<th>编号</th>
										<th>提现金额</th>
										<th>申请时间</th>
										<th>提现状态</th>
										<th>提现信息</th>
										<th>备注</th>
									</tr>
								</thead>
								<tbody>
										<volist name="jilu" id="vo">
									<tr>
										<td>{$vo.id}</td>
										<td>{$vo.defray}</td>
										<td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
										<td><if condition="$vo.status eq 1">正常</if><if condition="$vo.status eq 2">审核中</if></td>
										<td><if condition="$vo.dtree_type eq 1">后台充值</if><if condition="$vo.dtree_type eq 2">系统奖励</if><if condition="$vo.dtree_type eq 3">提现</if></td>
										<td>{$vo.notes}</td>
									</tr>
									</volist>	
									

								</tbody>
							</table>
							<div>{$show}</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

</block>

<block name="area_footer">
<script type="text/javascript">
		$(function(){
				$('#loc_province').change(function(){
					var sheng=$('#loc_province option:selected').text();
					$('.sheng').val(sheng);
				})
				$('#loc_city').change(function(){
					var shi=$('#loc_city option:selected').text();
					$('.shi').val(shi);
				})
				$('#loc_town').change(function() {
				//$('input[@name=location_id]').val($(this).val());
				var qu=$('#loc_town option:selected').text();
							//var qu=$('#loc_town').select2('data').text
							//alert(qu);
				$('.qi').val(qu);
		
				})
				$('#tixian').click(function(){
					if( {$coins}  <1){
						alert('不能提现，提现金额最低为1元');
					}
				})
				$('#qr').click(function(){
					if($('#money').val()>{$coins}){
				  		alert('你还没有这么多钱！！');
				  		return false;
					}
				})
				
			})
		
		
		
	</script>
</block>