<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/manager.css" />
</block>

<block name="area_body">
	<div class="div_all">
		<div class="div_top1">
			<div class="div_gonggao"><i class="am-icon-bullhorn"></i>&nbsp;试福街美食频道下线通知</div>
			<div class="div_zhongxin"><font color="#FD5E85">{$username}</font>，欢迎来到试福街！[<a href="{:U('Home/Index/exits')}">退出</a>]&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Home/Index/sm_manager')}">试民中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Home/Index/index')}">回首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="#">帮助中心</a>
			</div>
		</div>
		<div class="div_top2">
			<div style="float: left; ">
				<img src="__IMG__/baobei_logo.jpg" />
			</div>
			<div style="float: left; padding: 10px;color: #FFFFFF; margin-left:50px; margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 "; opacity: 0.2;">
				<a href="#">试民中心</a>
			</div>
			<div style="float: left;padding: 10px;color: #FFFFFF;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 ";opacity: 0.2">
				<a href="#">因伙得福</a>
			</div>
			<div style="float: left;padding: 10px;color: #FFFFFF;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 ";opacity: 0.2">
				<a href="#">试福课堂</a>
			</div>
		</div>
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">邮箱认证
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<form action="{:U('Home/Usersm/email')}" method="post">
					<div class="am-modal-bd">
						<input type="hidden" name="id" value="{$entity['id']}" />
						<input type="text" name="email" value="{$email}">
						<input style="font-family: '微软雅黑'; font-size: 13px; border-radius:5px ; margin-top: -8px;" class="am-btn-danger am-btn-xs" type="submit" value="确认" />
					</div>
				</form>
			</div>
		</div>
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-2">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">手机认证
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<form action="{:U('Home/Usersm/phone')}" method="post">
					<div class="am-modal-bd">
						<input type="hidden" name="id" value="{$phone}" />
						<input type="text" class="email" name="phone" value="{$entity['mobile']}">
						<input style="font-family: '微软雅黑'; font-size: 13px; border-radius:5px ; margin-top: -8px;" class="am-btn-danger am-btn-xs" type="submit" value="确认" />
					</div>
				</form>
			</div>
		</div>
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-3">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">密保认证
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<form action="{:U('Home/Usersm/mibao')}" method="post">
					<div class="am-modal-bd">
						<select name="wenti">
							<option value="你的姓名">你的姓名</option>
							<option value="你的生日">你的生日</option>
							<option value="你的身份证号码">你的身份证号码</option>
						</select>
						<input type="tel" name="daan" id="daan" value="" />
						<input style="font-family: '微软雅黑'; font-size: 13px; border-radius:5px ; margin-top: -8px;" class="am-btn-danger am-btn-xs" type="submit" value="确认" />
					</div>
				</form>
			</div>
		</div>
		<div class="div_left">
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_znxx')}" style=""><span class="demo-icon-actions"><i class="am-icon-envelope am-margin-xs" ></i>站内信息</a>
				</div>

			</div>
			<dl class="dl_menu">
				<dt class="dt_menu"><font><i class="am-icon-calendar-o"></i>&nbsp;活动准备</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/manager_rw')}"><i class="am-icon-caret-right"></i>&nbsp;任务设置</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_dhsp')}"><i class="am-icon-caret-right"></i>&nbsp;兑换商品</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_ydsp')}"><i class="am-icon-caret-right"></i>&nbsp;预定商品</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_xfyd')}"><i class="am-icon-caret-right"></i>&nbsp;幸福一点</a>
				</dd>
			</dl>
			<dl class="dl_menu">
				<dt class="dt_menu"><font ><i class="am-icon-bullhorn"></i>&nbsp;活动管理</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_bbhd')}"><i class="am-icon-caret-right"></i>&nbsp;试福活动</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_schd')}"><i class="am-icon-caret-right"></i>&nbsp;收藏活动</a>
				</dd>
			</dl>
			<dl class="dl_menu">
				<dt class="dt_menu"><font ><i class="am-icon-user-md"></i>&nbsp;账号设置</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/index')}"><i class="am-icon-caret-right"></i>&nbsp;基本信息</a>
				</dd>
				<dd class="dd_menu"><a class="sed" href="{:U('Home/Usersm/sm_aqzx')}"><i class="am-icon-caret-right"></i>&nbsp;安全中心</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/address')}"><i class="am-icon-caret-right"></i>&nbsp;收货地址</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_xzgl')}"><i class="am-icon-caret-right"></i>&nbsp;勋章管理</a>
				</dd>
				<br />
				<br />

			</dl>
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_shfx')}" style=" padding-left: 15px;"><i class="am-icon-skyatlas"> </i>&nbsp;晒货分享</a>
				</div>
			</div>
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_bbqz')}" style=" padding-left: 15px;"><i class="am-icon-credit-card"> </i>&nbsp;资金管理</a>
				</div>
			</div>
		</div>
		<div class="div_right">
			<div style=" width: 80%; border:1px solid #ccc; margin-left:30%;">
				<div style="width: 100%; background: url(img/yjdf_head2.jpg); background-size:100% 100%; height: 400px;">

				</div>
				<div style="width: 100%; background: url(img/yhdf_bg2.jpg); border: 1px solid #FAE1E5; background-size:100% 100%; margin-bottom: 0px;">
					<script type="text/javascript">
						function changeWdhb(i){
							$("#div_wdhb ul li").eq(i).addClass("am-active").siblings().removeClass("am-active");
							$("#div_wdhb .am-tabs-bd .am-tab-panel").eq(i).addClass("am-active").siblings().removeClass("am-active");
						}
					</script>

					<div id="div_wdhb" data-am-widget="tabs" class="am-tabs am-tabs-default">
						<ul class="am-tabs-nav am-cf" style="width: 400px;">
							<li class="am-active">
								<a href="javascript:changeWdhb(0)">我邀请的宝民</a>
							</li>
							<li class="">
								<a href="javascript:changeWdhb(1)">我邀请的商家</a>
							</li>
						</ul>
						<div class="am-tabs-bd">
							<div data-tab-panel-0 class="am-tab-panel am-active">
								<table class="am-table">
									<thead style="background: #FBF9FA;">
										<tr>
											<td>好友用户名</td>
											<td>注册时间</td>
											<td>是否认证</td>
											<td>是否激活</td>
											<td>近期情况</td>
										</tr>
									</thead>
									<tbody style="background: #fff;">
										<tr>
											<td>XXXXXXXX</td>
											<td>XXXXXXXXXXXXXXXX</td>
											<td>XXXXX</td>
											<td>XXXX</td>
											<td>XXXXXXX</td>
										</tr>
										<tr>
											<td>XXXXXXXX</td>
											<td>XXXXXXXXXXXXXXXX</td>
											<td>XXXXX</td>
											<td>XXXX</td>
											<td>XXXXXXX</td>
										</tr>
									</tbody>
								</table>

							</div>
							<div data-tab-panel-1 class="am-tab-panel ">
								<table class="am-table">
									<thead style="background: #FBF9FA; ">
										<tr>
											<td style="width: 50%;">商家用户名</td>
											<td>注册时间</td>
											<td>福币奖励</td>

										</tr>
									</thead>
									<tbody style="background: #fff;">
										<tr>
											<td>XXXXX</td>
											<td>XXXX</td>
											<td>XXXXXXX</td>

										</tr>
										<tr>
											<td>XXXXX</td>
											<td>XXXX</td>
											<td>XXXXXXX</td>
										</tr>

									</tbody>
								</table>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

</block>

<block name="area_footer">

</block>