<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
	<style type="text/css">
		* {
			font-family: "微软雅黑" !important;
		}
	</style>
</block>

<block name="area_body">
	<div id="div_all">
		<div id="div_top">
			<div class="div_info">
				<div style="color:#FFF; float:left; background: url(__PUBLIC__/Home/img/gonggao.png) no-repeat 0 9px;padding-left:  25px;">
					<a href="{:U('Home/Index/gfggxx',array('id'=>$zxgg['id']))}" style="color: white;">{$zxgg.post_title}</a>
				</div>
				<empty name="username">
					<div style="color:#FFF;float:right">您好，欢迎来到宝贝街！请[<a href="{:U('Home/Index/login')}">登录</a>][<a href="{:U('Home/Index/register_sj')}">免费注册</a>]|帮助中心</div>
					<else/>
					<div style="color:#FFF;float:right"><a href="{:U('Home/Index/sm_manager',array('username'=>$username))}">{$username}</a>,您好，欢迎来到宝贝街！[<a href="{:U('Home/Index/register_sm')}">免费注册</a>]|帮助中心</div>
				</empty>
			</div>
		</div>
		<div id="div_top2">
			<div class="div_info">
				<div align="right" style=" padding:10px; padding-top:30px;">

				

				</div>
			</div>
		</div>
		<div id="div_title">
			<div class="div_info">
				<ul>
					<li onclick="changePageTitle('{:U('Home/Index/index')}')"  class="li_checkedtitle" >宝贝广场</li>
					<li onclick="changePageTitle('{:U('Home/Index/flzc')}')">福利专场</li>
					<li onclick="changePageTitle('{:U('Home/Index/xfyd')}')">幸福一点</li>
					<li onclick="changePageTitle('{:U('Home/Index/sjh')}')">试江湖</li>
					<li onclick="changePageTitle('{:U('Home/Index/chg')}')">茶话馆</li>
					<li onclick="changePageTitle('{:U('Home/Index/bzzx')}')" style="border-right: none;">帮助中心</li>
				</ul>
			</div>
		</div>
		<div id="div_lunbo">
			<div class="div_info">
				<div class="div_info1">
					<ul>
						<li>
							<h3><a href="#">日用百货</a></h3>
							<div>
								<a href="">居家必备</a>
								<a href="">家纺</a>
								<a href="">厨房必备</a>
								<a href="">美妆必备</a>
								<a href="">洗护用品</a>
								<a href="">配饰</a>
							</div>
						</li>
						<li>
							<h3><a href="#">鞋子箱包</a></h3>

							<div>
								<a href="">居家必备</a>
								<a href="">家纺</a>
								<a href="">厨房必备</a>
								<a href="">美妆必备</a>
								<a href="">洗护用品</a>
								<a href="">配饰</a>
							</div>
						</li>
						<li>
							<h3><a href="#">母婴用品</a></h3>
							<div>
								<a href="">居家必备</a>
								<a href="">家纺</a>
								<a href="">厨房必备</a>
								<a href="">美妆必备</a>
								<a href="">洗护用品</a>
								<a href="">配饰</a>
							</div>
						</li>
						<li>
							<h3><a href="#">数码家电</a></h3>
							<div>
								<a href="">居家必备</a>
								<a href="">家纺</a>
								<a href="">厨房必备</a>
								<a href="">美妆必备</a>
								<a href="">洗护用品</a>
								<a href="">配饰</a>
							</div>
						</li>
						<li>
							<h3><a href="#">办公问题</a></h3>
							<div>
								<a href="">居家必备</a>
								<a href="">家纺</a>
								<a href="">厨房必备</a>
								<a href="">美妆必备</a>
								<a href="">洗护用品</a>
								<a href="">配饰</a>
							</div>
						</li>
					</ul>

				</div>
				<div class="div_image">
					<div class="div_minlunbo" style="background: url(../../../Public/Home/img/lunbo1.jpg);width: 100%; height: 100%;">

					</div>

					<div class="div_minlunbo" style="background: url(../../../Public/Home/img/lunbo2.jpg);width: 100%; height: 100%; display: none;">

					</div>
					<div class="div_minlunbo" style="background: url(../../../Public/Home/img/lunbo3.jpg);width: 100%; height: 100%;display: none;">

					</div>

					<div class="div_minlunbo" style="background: url(../../../Public/Home/img/lunbo4.jpg);width: 100%; height: 100%;display: none;">

					</div>

				</div>
				<ul class="ul_lunbo">
					<li class="lunboli current"></li>
					<li class="lunboli"></li>
					<li class="lunboli"></li>
					<li class="lunboli"></li>
				</ul>
				<div class="div_info2">
					<ul class="ul_image">
						<li>
							<a href="">
								<img src="__PUBLIC__/Home/img/tu1.jpg" height="140" />
							</a>
						</li>
						<li>
							<a href="">
								<img src="__PUBLIC__/Home/img/tu2.jpg" height="140" />
							</a>
						</li>
						<li>
							<a href="">
								<img src="__PUBLIC__/Home/img/tu3.jpg" height="140" />
							</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
		<div id="div_main">
			<div class="div_info">
				<div class="div_minInfo">
					<div class="div_minTitle">
						<h3>上新预告</h3>
						<a href="">&nbsp;</a>
					</div>
					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style="border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>
					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>
					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

				</div>

				<div class="div_minInfo">
					<div class="div_minTitle">
						<h3>推荐福品</h3>
						<a href="">&nbsp;</a>
					</div>
					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>
					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian1.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>
					<dl class="dl_info">
						<dt>

		                <img src="__PUBLIC__/Home/img/tupian2.jpg" width="216" />

		                </dt>
						<dd style=" border-bottom:1px dotted #666">三星 NOTE 硅胶套</dd>
						<dd>XXX XXXXX</dd>
					</dl>

				</div>

				<div class="div_minInfo">
					<div class="div_minTitle">
						<h3>试民晒货</h3>
						<a href=""></a>
					</div>
					<dl class="dl_shaihuo">
						<dt>

			                <a href=""><img src="__PUBLIC__/Home/img/shai1.jpg" width="91" /></a>

			                <a href=""><img src="__PUBLIC__/Home/img/shai2.jpg" width="91" /></a>

			                <a href=""><img src="__PUBLIC__/Home/img/shai3.jpg" width="91" /></a>

			                <a href=""><img src="__PUBLIC__/Home/img/shai4.jpg" width="91" /></a>

		                

		                </dt>
						<dd style="">1个晒货|1个推荐</dd>
						<dd><a href="#">去看看</a>
						</dd>
					</dl>

					<dl class="dl_shaihuo">
						<dt>

		                <a href=""><img src="__PUBLIC__/Home/img/shai1.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Home/img/shai2.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Home/img/shai3.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Home/img/shai4.jpg" width="91" /></a>

		                </dt>
						<dd style="">1个晒货|1个推荐</dd>
						<dd><a href="#">去看看</a>
						</dd>
					</dl>

					<dl class="dl_shaihuo">
						<dt>

		                <a href=""><img src="__PUBLIC__/Home/img/shai1.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Home/img/shai2.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Home/img/shai3.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Home/img/shai4.jpg" width="91" /></a>

		                </dt>
						<dd style="">1个晒货|1个推荐</dd>
						<dd><a href="#">去看看</a>
						</dd>
					</dl>

					<dl class="dl_shaihuo">
						<dt>

		               <a href=""><img src="__PUBLIC__/Home/img/shai1.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Home/img/shai2.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Home/img/shai3.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Home/img/shai4.jpg" width="91" /></a>

		                </dt>
						<dd style="">1个晒货|1个推荐</dd>
						<dd><a href="#">去看看</a>
						</dd>
					</dl>

					<dl class="dl_shaihuo">
						<dt>

		                <a href=""><img src="__PUBLIC__/Home/img/shai1.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Home/img/shai2.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Home/img/shai3.jpg" width="91" /></a>

		                <a href=""><img src="__PUBLIC__/Home/img/shai4.jpg" width="91" /></a>

		                </dt>
						<dd style="">1个晒货|1个推荐</dd>
						<dd><a href="#">去看看</a>
						</dd>
					</dl>

				</div>

			</div>
		</div>
		<hr color="#ccc" style="clear:both; margin-top:20px; width: 100%;" size="1" />
		<div id="div_foot">
			<div class="div_info">
				<dl class="dl_phone">
					<dt class="dt_phone" style=" height: 100%; margin-right: 10px;"><img src="__PUBLIC__/Home/img/phone.png" /></dt>
					<dd style="font-weight: bold; font-size:13px ;">4008-448-888</dd>
					<dd>美食街热线</dd>
					<dd>周一至周六：09:00-17:00</dd>
				</dl>
				<dl>
					<dt>关于我们</dt>
					<dd class="dd_info"><a href="#">宝贝街介绍</a>
					</dd>
					<dd class="dd_info"><a href="#">联系我们</a>
					</dd>

				</dl>
				<dl>
					<dt>我是试民</dt>
					<dd class="dd_info"><a href="#">新手指引</a>
					</dd>
					<dd class="dd_info"><a href="#">福币介绍</a>
					</dd>
					<dd class="dd_info"><a href="#">资金保障</a>
					</dd>
				</dl>

				<dl>
					<dt>我是商家</dt>
					<dd class="dd_info"><a href="#">商家入驻</a>
					</dd>
					<dd class="dd_info"><a href="#">会员体系</a>
					</dd>
					<dd class="dd_info"><a href="#">活动安全</a>
					</dd>
				</dl>
				<dl>
					<dt>宝贝街特色</dt>
					<dd class="dd_info"><a href="#">许愿树</a>
					</dd>
					<dd class="dd_info"><a href="#">周四盛点</a>
					</dd>
					<dd class="dd_info"><a href="#">因伙得福</a>
					</dd>
				</dl>
				<dl>
					<dt>共图大业</dt>
					<dd class="dd_info"><a href="#">招兵买马</a>
					</dd>
					<dd class="dd_info"><a href="#">拜将求帅</a>
					</dd>
					<dd class="dd_info"><a href="#">战略伙伴</a>
					</dd>
					<dd class="dd_info"><a href="#">天赐良机</a>
					</dd>
				</dl>

				<dl>
					<dt>宝贝微信账号</dt>
					<dd class="dd_info" style="margin: 0;margin-left: -12px;">
						<img src="__PUBLIC__/Home/img/weixin.png" />

					</dd>

				</dl>
			</div>

			<div align="center" style="clear:both; margin-bottom:5px; border-top: 1px solid #ccc; width:800px; margin: 0 auto;"><font color="#999999" size="-2">杭州博也科技有限公司，保留一切权利。 浙ICP备13025642号-2 © 2015 baobeijie.net 版权所有<font style="display: none;">{__RUNTIME__}</font></font>
			</div>

		</div>
	</div>
</block>

<block name="area_footer">
	
</block>