<extend name="template/base_index" />

<block name="area_header">

<link href="__PUBLIC__/Home/css/cssreset.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/css/login.css" type="text/css" rel="stylesheet">
</block>

<block name="area_body">
	<div id="body">
		<div class="login_body">
			<a class="login_001" href="#"></a>
			<div class="login_010">
				<div class="login_011">
					<a href="{:U('Home/Index/index')}">首页</a>
					<span>-</span>
					<a href="{:U('Home/Index/register_sm')}">注册</a>
					<span>|</span>
					<a href="#">帮助中心</a>
				</div>
				<div class="login_002">
					
					<div class="login_003"><span>登录宝贝街</span> <a href="{:U('Home/Index/register_sm')}">还没有宝贝街账号？</a><a href="{:U('Home/Index/register_sm')}" style="color: #F01861;">30秒注册</a>
					</div>
					<div class="clear"></div>
					<form action="{:U('Home/Index/login')}" method="post">

						<input type="text" name="username" id="textfield2" class="login_004" placeholder="用户名" >
						
							<br><br><span style="color: red; font-size: 13px;">{$error}</span>
						<input type="password" name="password" id="textfield" class="login_005">
						<div class="login_006">
							<input type="checkbox" name="auto_login" id="checkbox"> 自动登录 <span><a href="#">忘记密码</a></span>
						</div>
						<div class="submit">
							<input type="hidden" name="ajax" value="1">
							<input name="" class="login_007" type="submit" value="" style="float: left;">
							<div class="error1" style="float: left;color:#f00;height: 42px;line-height: 42px;margin-left: 10px;"></div>
						</div>
					</form>
				</div>
			</div>
			<div></div>
		</div>
	</div>
</block>

<block name="area_footer">
	
</block>