<extend name="template/base_index" />

<block name="area_header">
	<LINK href="__PUBLIC__/Home/css/login-1.css" rel="stylesheet">
	<script src="__PUBLIC__/Home/js/require.min.js" type="text/javascript"></script>
</block>

<block name="area_body">
	<DIV>
		<DIV class="main">
			<A class="logo" href=""></A>
			<DIV class="content">
				<DIV class="nav_menu">
					<UL class="nav nav-tabs" role="menu">
						<LI id="sm" class="">
							<A href="{:U('Home/Index/register_sm')}">试民注册</A>
						</LI>
						<LI id="sj" class="active">
							<A href="{:U('Home/Index/register_sj')}">商家注册</A>
						</LI>
					</UL>
				</DIV>
				<div class="bbj_sm">
					<DIV class="register-form" controller="app/register">
						<FORM class="form-horizontal" id="yw0" action="{:U('Home/Index/sjzc_kz')}" method="post">

							<DIV class="control-group">
								<LABEL class="control-label" for="yaoqingren">店铺名称：</LABEL>
								<DIV class="controls">
									<INPUT name="dpname" class="input-large" id="yaoqingren" type="text" placeholder="">
								</DIV>

							</DIV>
							<DIV class="control-group">
								<LABEL class="control-label" for="yaoqingren">阿里旺旺：</LABEL>
								<DIV class="controls">
									<INPUT name="alww" class="input-large" id="yaoqingren" type="text" placeholder="">
								</DIV>

							</DIV>
							<DIV class="control-group">
								<LABEL class="control-label" for="yaoqingren">QQ：</LABEL>
								<DIV class="controls">
									<INPUT name="qq" class="input-large" id="yaoqingren" type="text" placeholder="">
								</DIV>

							</DIV>
							<DIV class="control-group">
								<LABEL class="control-label" for="yaoqingren">联系人：</LABEL>
								<DIV class="controls">
									<INPUT name="lxr" class="input-large" id="yaoqingren" type="text" placeholder="">
								</DIV>

							</DIV>
							<DIV class="control-group">
								<LABEL class="control-label" for="yaoqingren">经营地址：</LABEL>
								<DIV class="controls">
									<INPUT name="jydz" class="input-large" id="yaoqingren" type="text" placeholder="">
								</DIV>

							</DIV>

							<BUTTON name="yt0" id="sb" class="register_submit btn" type="submit">立即注册</BUTTON>
						</FORM>
						<DIV class="right">
							<DIV class="login">
								<A href="{:U('Home/Index/login')}"></A>
								<SPAN>我已注册,点击登录</SPAN>
							</DIV>
							<DIV class="jieshao"> 我想免费获得喜欢的商品，乐享不花钱的商品带来的惊喜！所以我要注册试民福币账号！ </DIV>
						</DIV>
					</DIV>
				</div>

			</DIV>
		</DIV>
	</DIV>
	<DIV>
		<DIV class="main">
			<A class="logo" href=""></A>
			<DIV class="content">
				<DIV class="nav_menu">
					<UL class="nav nav-tabs" role="menu">
						<LI id="sm" class="">
							<A href="{:U('Home/Index/register_sm')}">试民注册</A>
						</LI>
						<LI id="sj" class="active">
							<A href="{:U('Home/Index/register_sj')}">商家注册</A>
						</LI>
					</UL>
				</DIV>
				<div class="bbj_sm">
					<DIV class="register-form" controller="app/register">
						<FORM class="form-horizontal" id="yw0" action="{:U('Home/Index/sjzc_kz')}" method="post">

							<DIV class="control-group">
								<LABEL class="control-label" for="yaoqingren">店铺名称：</LABEL>
								<DIV class="controls">
									<INPUT name="dpname" class="input-large" id="yaoqingren" type="text" placeholder="">
								</DIV>

							</DIV>
							<DIV class="control-group">
								<LABEL class="control-label" for="yaoqingren">阿里旺旺：</LABEL>
								<DIV class="controls">
									<INPUT name="alww" class="input-large" id="yaoqingren" type="text" placeholder="">
								</DIV>

							</DIV>
							<DIV class="control-group">
								<LABEL class="control-label" for="yaoqingren">QQ：</LABEL>
								<DIV class="controls">
									<INPUT name="qq" class="input-large" id="yaoqingren" type="text" placeholder="">
								</DIV>

							</DIV>
							<DIV class="control-group">
								<LABEL class="control-label" for="yaoqingren">联系人：</LABEL>
								<DIV class="controls">
									<INPUT name="lxr" class="input-large" id="yaoqingren" type="text" placeholder="">
								</DIV>

							</DIV>
							<DIV class="control-group">
								<LABEL class="control-label" for="yaoqingren">经营地址：</LABEL>
								<DIV class="controls">
									<INPUT name="jydz" class="input-large" id="yaoqingren" type="text" placeholder="">
								</DIV>

							</DIV>

							<BUTTON name="yt0" id="sb" class="register_submit btn" type="submit">立即注册</BUTTON>
						</FORM>
						<DIV class="right">
							<DIV class="login">
								<A href="{:U('Home/Index/login')}"></A>
								<SPAN>我已注册,点击登录</SPAN>
							</DIV>
							<DIV class="jieshao"> 我想免费获得喜欢的商品，乐享不花钱的商品带来的惊喜！所以我要注册试民福币账号！ </DIV>
						</DIV>
					</DIV>
				</div>

			</DIV>
		</DIV>
	</DIV>
</block>

<block name="area_footer">
	<div id="foot">
		杭州博也科技有限公司，保留一切权利。
		<br> 浙ICP备13025642号-2 ©2013 shifujie.net 版权所有
		<br>
	</div>

</block>