<extend name="template/base_index" />

<block name="area_header">
<LINK href="__PUBLIC__/Home/css/login-1.css" rel="stylesheet">

</block>

<block name="area_body">
<DIV>
			<DIV class="main">
				<A class="logo" href=""></A>
				<DIV class="content">
					<DIV class="nav_menu">
						<UL class="nav nav-tabs" role="menu">
							<LI id="sm" class="active">
								<A href="{:U('Home/Index/register_sm')}">试民注册</A>
							</LI>
							<LI id="sj" class="">
								<A href="{:U('Home/Index/register_sj')}">商家注册</A>
							</LI>
						</UL>
					</DIV>
					<div class="bbj_sm">
						<DIV class="register-form" controller="app/register">
							<FORM class="form-horizontal" id="yw0" action="{:U('Home/Index/smzc')}" method="post">
								<DIV class="control-group">
									<LABEL class="control-label" for="user_name">
										<I class="required">*</I>用户名：</LABEL>
									<DIV class="controls">
										<INPUT name="user_name" class="input-large" id="name" type="text" placeholder="用于登录的名字" value="" autocomplete="off">
										<SPAN class="notice help-inline"></SPAN>
									</DIV>
								</DIV>
								<DIV class="control-group">
									<LABEL class="control-label" for="password">
										<I class="required">*</I>密码：</LABEL>
									<DIV class="controls">
										<INPUT name="password" class="input-large" id="password" type="password" placeholder="6-12位登录密码，操作密码" value="" autocomplete="off">
										<SPAN class="notice help-inline"></SPAN>
									</DIV>
								</DIV>
								<DIV class="level clearfix">
									<DIV class="101 li">
										<SPAN class="ls1">危险</SPAN>
									</DIV>
									<DIV class="102 li">
										<SPAN class="ls2">适中</SPAN>
									</DIV>
									<DIV class="103 li">
										<SPAN class="ls3">安全</SPAN>
									</DIV>
								</DIV>
								<DIV class="control-group">
									<LABEL class="control-label" for="confirm_password">
										<I class="required">*</I>确认密码：</LABEL>
									<DIV class="controls">
										<INPUT name="confirm_password" class="input-large" id="confirm_password" type="password" autocomplete="off">
										<span></span>
									</DIV>
								</DIV>
								<DIV class="control-group">
									<LABEL class="control-label" for="phone_tel">
										<I class="required">*</I>手机号码：</LABEL>
									<DIV class="controls">
										<INPUT name="phone_tel" class="input-large" id="phone_tel" type="text" placeholder="请输入要绑定的号码" value="" autocomplete="off">
										<span> </span>
									</DIV>
								</DIV>

								<DIV class="control-group">
									<LABEL class="control-label" for="yaoqingren">邀请人：</LABEL>
									<DIV class="controls">
										<INPUT name="yaoqingren" class="input-large" id="yaoqingren" type="text" placeholder="请填写邀你注册者的用户名，这样他能获得经验值奖励哦！" value="test1">
									</DIV>

								</DIV>
								<DIV class="control-group">
									<DIV class="controls">
										<LABEL class="checkbox">
											<SPAN style="width: 299px; color: rgb(92, 91, 91); font-weight: normal; display: inline-block;">

						<INPUT name="agree" id="agree" type="checkbox" value="1"> 我已经阅读并同意接收用户

							<A style="color: rgb(224, 69, 21);" href="{:U('Home/Index/xieyi')}" target="_blank">《使用协议》</A>

					</SPAN>
											<SPAN class="notice help-inline"></SPAN>
										</LABEL>
									</DIV>
								</DIV>
								<BUTTON name="yt0" id="sb" class="register_submit btn" type="submit">立即注册</BUTTON>
							</FORM>
							<DIV class="right">
								<DIV class="login">
									<A href="{:U('Home/Index/login')}"></A>
									<SPAN>我已注册,点击登录</SPAN>
								</DIV>
								<DIV class="jieshao"> 我想免费获得喜欢的商品，乐享不花钱的商品带来的惊喜！所以我要注册试民福币账号！ </DIV>
							</DIV>
						</DIV>
					</div>

				</DIV>
			</DIV>
		</DIV>
		
</block>

<block name="area_footer">
	<SCRIPT type="text/javascript">
		$(function() {
			var d = 0;
			var name = /^[a-zA-Z][a-zA-Z0-9]{5,12}$/;
			$('#name').blur(function() {
				if (name.test($('#name').val())) {
					d = 1;
					$(this).parent().find("span").html("<font size='-2' color='green'>正确！</font>");
				} else {
					d = 0;
					$(this).parent().find("span").html("<font size='-2' color='red'>字母开头的数字组合！</font>");
				}
			});
			var a = 0;
			var b = 0;
			var c = 0;
			$('#password').keyup(function() {
				if ($(this).val().length >= 6) {
					$('.ls1').addClass('current');
				} else {
					$('.ls1').removeClass('current');
				}
				if ($(this).val().length >= 8 && $(this).val().match(/\D/) != null) {
					$('.ls2').addClass('current');
				} else {
					$('.ls2').removeClass('current');
				}
				if ($(this).val().length >= 10 && $(this).val().match(/[`~!@#$%^&*_+<>{}\/'[\]]/im)) {
					$('.ls3').addClass('current');
				} else {
					$('.ls3').removeClass('current');
				}
				if ($(this).val().length > 12 || 　$(this).val().length < 6) {
					a = 0;
					$(this).parent().find("span").html("<font size='-2' color='red'>密码不超过12位！</font>");
				} else {
					a = 1;
					$(this).parent().find("span").html("<font size='-2' color='green'>密码可用！</font>");
				}
			})
			var isMobile = /^(?:13\d|15\d|18\d)\d{5}(\d{3}|\*{3})$/;
			$('#phone_tel').keyup(function() {
				if (!isMobile.test($(this).val())) {
					b = 0;
					//$(this).parent().remove($font);
					$(this).parent().find("span").html("<font size='-2' color='red'>手机号码格式不正确！请重新输入！</font>");
				} else {
					b = 1;
					$(this).parent().find("span").html("<font size='-2' color='green'>正确！</font>");
					//$(this).parent().remove($font);
				}
			})
			$('#confirm_password').blur(function() {
				var a = $('#password').val();
				if ($(this).val() == a) {
					c = 1;
					$(this).parent().find("span").html("<font size='-2' color='green'>正确！</font>");
				} else {
					c = 0;
					$(this).parent().find("span").html("<font size='-2' color='red'>不一致！</font>");
				}
			})
			$('#sb').click(function() {
				if (a == 1 && b == 1 && c == 1 && d == 1) {
					return true;
				} else {
					return false;
				}
			})
		})
	</SCRIPT>
</block>
