<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" href="__CSS__/manager.css" />
</block>

<block name="area_body">

	<div class="div_all">
		<div class="div_top1">
			<div class="div_gonggao"><i class="am-icon-bullhorn"></i>&nbsp;试福街美食频道下线通知</div>
			<div class="div_zhongxin"><font color="#FD5E85">{$username}</font>，欢迎来到试福街！[<a href="{:U('Home/Index/exits')}">退出</a>]&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Home/Index/sm_manager')}">试民中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Home/Index/index')}">回首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="#">帮助中心</a>
			</div>
		</div>
		<div class="div_top2">
			<div style="float: left; ">
				<img src="__IMG__/baobei_logo.jpg" />
			</div>
			<div style="float: left; padding: 10px;color: #FFFFFF; margin-left:50px; margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 "; opacity: 0.2;">
				<a href="#">试民中心</a>
			</div>
			<div style="float: left;padding: 10px;color: #FFFFFF;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 ";opacity: 0.2">
				<a href="#">因伙得福</a>
			</div>
			<div style="float: left;padding: 10px;color: #FFFFFF;margin-left: 10px;margin-top: 35px;font-size: 14px;font-family: " 微软雅黑 ";opacity: 0.2">
				<a href="#">试福课堂</a>
			</div>
		</div>
		
		<div class="div_left">
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_znxx')}" style=""><span class="demo-icon-actions"><i class="am-icon-envelope am-margin-xs" ></i>站内信息</a>
				</div>

			</div>
			<dl class="dl_menu">
				<dt class="dt_menu"><font><i class="am-icon-calendar-o"></i>&nbsp;活动准备</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/manager_rw')}"><i class="am-icon-caret-right"></i>&nbsp;任务设置</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_dhsp')}"><i class="am-icon-caret-right"></i>&nbsp;兑换商品</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_ydsp')}"><i class="am-icon-caret-right"></i>&nbsp;预定商品</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_xfyd')}"><i class="am-icon-caret-right"></i>&nbsp;幸福一点</a>
				</dd>
			</dl>
			<dl class="dl_menu">
				<dt class="dt_menu"><font ><i class="am-icon-bullhorn"></i>&nbsp;活动管理</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_bbhd')}"><i class="am-icon-caret-right"></i>&nbsp;试福活动</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_schd')}"><i class="am-icon-caret-right"></i>&nbsp;收藏活动</a>
				</dd>
			</dl>
			<dl class="dl_menu">
				<dt class="dt_menu"><font ><i class="am-icon-user-md"></i>&nbsp;账号设置</font></dt>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/index')}"><i class="am-icon-caret-right"></i>&nbsp;基本信息</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_aqzx')}"><i class="am-icon-caret-right"></i>&nbsp;安全中心</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/address')}"><i class="am-icon-caret-right"></i>&nbsp;收货地址</a>
				</dd>
				<dd class="dd_menu"><a href="{:U('Home/Usersm/sm_xzgl')}"><i class="am-icon-caret-right"></i>&nbsp;勋章管理</a>
				</dd>
				<br />
				<br />

			</dl>
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_shfx')}" style=" padding-left: 15px;"><i class="am-icon-skyatlas"> </i>&nbsp;晒货分享</a>
				</div>
			</div>
			<div class="div_znxx">
				<div><a href="{:U('Home/Usersm/sm_bbqz')}" style=" padding-left: 15px;"><i class="am-icon-credit-card"> </i>&nbsp;资金管理</a>
				</div>
			</div>
		</div>
		<div class="div_right">

			<div class="div_minContent" style="padding: 20px;">

				<div class="am-panel am-panel-default" style="width: 60%; float: left; border-radius:5px;">
					<div class="am-panel-hd">账户管理>账户概览</div>
					<div class="am-panel-bd" style="height:350px;">
						<div style="margin-left: 30px; margin-top: 50px; float: left;">
							<img src="__IMG__/default_user_portrait.gif" width="100" height="100" style="border:1px solid #999 ;" />
							<br />
							<img src="__IMG__/2.png" style="margin-left: 10px; margin-top: 5px;" />
						</div>
						<div style=" float: left; font-size: 12px; margin-left: 20px;  width: 70%;">
							<table style="width: 100%;">
								<tr>
									<td width="20%" style="text-align: right;">{$username}</td>
									<td></td>
								</tr>
								<tr>
									<td style="text-align: right;">江湖等级:</td>
									<td style="padding:0;" valign="top">
										<div class="am-progress am-progress-striped am-progress-sm am-active am-round" style="margin-top:25px;">
											<div class="am-progress-bar am-progress-bar-secondary" style="width: 57%"></div>
										</div>
									</td>
								</tr>
								<tr>
									<td style="text-align: right;">我的勋章:</td>
									<td style="padding:0;">
										<img src="__IMG__/25.png" width="20" />
									</td>
								</tr>
								<tr>
									<td style="text-align: right;">联系电话:</td>
									<td>{$phone}<a href="">修改</a> </td>
								</tr>
								<tr>
									<td style="text-align: right;">我的福币:</td>
									<td><font color="#ec1c50">0</font> 枚 <a href="">查看详情</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: right;">宝贝钱庄:</td>
									<td><font color="#ec1c50">￥0.00 </font><a href="">查看详情</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: right;">任务状态:</td>
									<td>
										<button class="am-btn am-btn-danger am-btn-xs am-round">任务开启中(100元)</button>
									</td>
								</tr>
							</table>

						</div>
					</div>
				</div>

				<div class="am-panel am-panel-default" style="width: 35%; float: left; margin-left: 10px;border-radius:5px;">
					<div class="am-panel-hd">最新公告<span style="margin-left:200px;"><a href="#" style="font-size: 12px;">更多>></a></span> </div>
					<div class="am-panel-bd" style="height: 350px; font-size:12px;">
						<ul>
							<li style="margin-top: 10px;">试福美食频道下线通知</li>
							<li style="margin-top: 10px;">正式启动“试福街 2.0”计划</li>
							<li style="margin-top: 10px;">关于试民任务获取方式的调整通知</li>
							<li style="margin-top: 10px;">试福街2015年五一放假安排通知</li>
							<li style="margin-top: 10px;">关于试福任务发件的调整通知</li>
							<li style="margin-top: 10px;">关于收货地址与淘宝收货地址保持一致的通知</li>
							<li style="margin-top:10px;">试民任务时需要聊天内容的规范</li>
							<li style="margin-top: 10px;">关于“聚来宝”等淘宝客问题的通知</li>
						</ul>
					</div>
				</div>
				<div style="width: 70%;float: left; ">
					<div class="am-panel am-panel-default" style="clear: left;border-radius:5px;">
						<div class="am-panel-hd">领取任务</div>
						<div class="am-panel-bd" style="">
							<table border="0" style="font-size: 12px;">
								<tr>
									<td width="300">淘宝账号: hbddingding <a href="">设置</a> </td>
									<td>手机任务: 关闭 <a href="">设置</a> </td>
									<td rowspan="2" style="">
										<button class="am-btn am-btn-default am-btn-sm am-round" style="margin-left: 50px;">领取宝贝任务</button>
										<button class="am-btn am-btn-default am-btn-sm am-round">领取收藏任务</button>
									</td>
								</tr>
								<tr>
									<td></td>
									<td>淘福任务: 关闭 <a href="">设置</a> </td>
								</tr>

							</table>
						</div>
					</div>
					<div class="am-panel am-panel-default" style="border-radius:5px;">
						<div class="am-panel-hd">活动情况</div>
						<div class="am-panel-bd" style="">
							<table style="font-size: 12px; width: 100%;">
								<tr>
									<td>宝贝活动></td>
									<td>新任务：<font color="blue">0</font>
									</td>
									<td>订单被驳回： <font color="red">0</font>
									</td>
									<td>待收货确认：<font color="red">0</font>
									</td>
									<td> <a href="">查看详细>></a>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="am-panel am-panel-default" style="border-radius:5px;">
						<div class="am-panel-hd">因伙得福</div>
						<div class="am-panel-bd" style=" height:150px;font-size: 14px;">
							<div style="float: left; border-right: 1px solid #CCCCCC; padding: 20px;">
								<ul>
									<li>福币奖励累计： <font color="red">0</font>
									</li>
									<li>有效好友： <font color="red">0</font>人</li>
								</ul>
							</div>
							<div style="font-size: 12px; margin-left: 210px; margin-top: 20px;">
								宝贝街隶属于杭州凡鸟科技有限公司旗下网站，是目前所有服务于淘宝商家推广类网站中的佼佼者， 让商家借助宝贝街兴旺的人气安全、高效、轻松的实现店铺商品的推广和销量的提升！同时，宝贝街也是一个分类齐全、商品丰富的综合性网站， 通过提供海量的免费商品源源不断地吸引越来越多的网购消费者 <a href="">[查看详情]</a>
							</div>
						</div>
					</div>
				</div>
				<div style="width: 25%; float: left; margin-left: 10px;">
					<div class="am-panel am-panel-default" style="border-radius:5px;">
						<div class="am-panel-hd">宝民专员</div>
						<div class="am-panel-bd" style="">
							<div>
								<img src="__IMG__/zhaocaimao.jpg" style="border-radius: 50%; float: left;" width="80" align="middle" />
								<ul style=" margin-left: 85px;font-size: 12px; margin-top: -10px;">
									<li>宝贝街-老王</li>
									<li>
										<i class="am-icon-phone" style="font-size: 14px; color: lightgreen;"></i> &nbsp;15653333333</li>
									<li>
										<i class="am-icon-qq" ></i>&nbsp; <a href="#">点击这里给我发消息</a> </li>
									<li><i class="am-icon-users"></i>官方群: 423332325</li>
								</ul>
							</div>
							<div style="text-align: center;font-size: 12px;">
								（周一至周六）
								<br> 周日全天休息，请在工作时间联系我们
							</div>
						</div>
					</div>
					<div class="am-panel am-panel-default" style="border-radius:5px;">
						<div class="am-panel-hd">任务指数</div>
						<div class="am-panel-bd" style="font-size: 12px;">
							<table>
								<tr>
									<td align="right">任务情况:</td>
									<td>累计成功完成试福 0个</td>
								</tr>
								<tr>
									<td align="right">放弃率:</td>
									<td>-</td>
								</tr>
								<tr>
									<td align="right">下单满意度:</td>
									<td>还没被评价过！</td>
								</tr>
								<tr>
									<td align="right">收货满意度:</td>
									<td>还没被评价过！</td>
								</tr>
								<tr>
									<td align="right">任务违规: </td>
									<td></td>
								</tr>

							</table>
							<div style="background: #f3ebef;">

								<table>
									<tr>
										<td align="right">淘宝客：</td>
										<td>0</td>
										<td align="right">提前收货确认：</td>
										<td>0</td>
									</tr>
									<tr>
										<td align="right">秒　拍：</td>
										<td>0</td>
										<td align="right">淘宝未好评：</td>
										<td>0</td>
									</tr>
								</table>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</block>

<block name="area_footer">

</block>

