<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
	<style type="text/css">
		* {
			font-family: "微软雅黑" !important;
		}
	</style>
</block>

<block name="area_body">
	<div id="div_all">
		<div id="div_top">
			<div class="div_info">
				<div style="color:#FFF; float:left; background: url(__PUBLIC__/Home/img/gonggao.png) no-repeat 0 9px;padding-left:  25px;">
					<a href="{:U('Home/Index/gfggxx',array('id'=>$zxgg['id']))}" style="color: white;">{$zxgg.post_title}</a>
				</div>
				<empty name="username">
					<div style="color:#FFF;float:right">您好，欢迎来到宝贝街！请[<a href="{:U('Home/Index/login')}">登录</a>][<a href="{:U('Home/Index/register_sj')}">免费注册</a>]|帮助中心</div>
					<else/>
					<div style="color:#FFF;float:right"><a href="{:U('Home/Index/sm_manager',array('username'=>$username))}">{$username}</a>,您好，欢迎来到宝贝街！[<a href="{:U('Home/Index/register_sm')}">免费注册</a>]|帮助中心</div>
				</empty>
			</div>
		</div>
		<div id="div_top2">
			<div class="div_info">
				<div align="right" style=" padding:10px; padding-top:30px;">

				

				</div>
			</div>
		</div>
		<div id="div_title">
			<div class="div_info">
				<ul>
					<li onclick="changePageTitle('{:U('Home/Index/index')}')">宝贝广场</li>
					<li onclick="changePageTitle('{:U('Home/Index/flzc')}')">福利专场</li>
					<li onclick="changePageTitle('{:U('Home/Index/xfyd')}')"  class="li_checkedtitle">幸福一点</li>
					<li onclick="changePageTitle('{:U('Home/Index/sjh')}')">试江湖</li>
					<li onclick="changePageTitle('{:U('Home/Index/chg')}')">茶话馆</li>
					<li onclick="changePageTitle('{:U('Home/Index/bzzx')}')" style="border-right: none;">帮助中心</li>
				</ul>
			</div>
		</div>
		
		<div id="div_main" style="border: 1px solid #ccc; background: #F7F7F7; float: left; padding-bottom: 100px;">
			<div style="width: 100%; height: 582px;background: url(__PUBLIC__/Home/img/haibao1.jpg) no-repeat; ">
				
			</div>
			<div class="div_info" style="height: 500px; margin-top:-100px; ">
				<div style="border-bottom:1px solid pink;">
					<img src="__PUBLIC__/Home/img/shengdian.png"/><b style="font-size: 22px;color: red;">1点精品</b><font color="red" style="border-left: 1px dotted red; padding-left:10px;margin-left: 10px;">2015年6月20日</font>
					<span style="margin-left: 400px;"><img src="__PUBLIC__/Home/img/naozhong.png"/></span>
					<font color="#666"><font size="+1">距离本期活动还有</font><font size="+2" color="red" style="font-weight: bold;" >00</font> <font size="-2">天</font> <font size="+2" style="font-weight: bold;" color="red" >19</font> <font size="-2">小时</font><font size="+2" color="red"  style="font-weight: bold;"> 12</font><font size="-2">分</font><font size="+2" style="font-weight: bold;" color="red" >  35</font><font size="-2"> 秒</font>
				</div>
				<div class="div_xfyd_info">
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
					<ul>
						<li class="li_image"><img src="__IMG__/1506328013.jpg_290x326.jpg"></li>
						<li class="li_imageinfo">
							<h3>铁艺浴室置物架</h3>
							<div style="height: 70%; border-top: 1px solid #666; margin-bottom: 50px;">
								采用高强度焊接工艺，以自然而富有个性的审美艺术，精心设计打造。
							</div>
							<h1 style="color: #ff4063; font-size: 40px;">
								F252   
							</h1>
							<a href="#" style="color: #ff4063;font-size: 22px;">先去看看~</a><font color="#ccc" size="-2">剩9份/共9份</font>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<hr color="#ccc" style="clear:both; margin-top:20px; width: 100%;" size="1" />
		<div id="div_foot">
			<div class="div_info">
				<dl class="dl_phone">
					<dt class="dt_phone" style=" height: 100%; margin-right: 10px;"><img src="__PUBLIC__/Home/img/phone.png" /></dt>
					<dd style="font-weight: bold; font-size:13px ;">4008-448-888</dd>
					<dd>美食街热线</dd>
					<dd>周一至周六：09:00-17:00</dd>
				</dl>
				<dl>
					<dt>关于我们</dt>
					<dd class="dd_info"><a href="#">宝贝街介绍</a>
					</dd>
					<dd class="dd_info"><a href="#">联系我们</a>
					</dd>

				</dl>
				<dl>
					<dt>我是试民</dt>
					<dd class="dd_info"><a href="#">新手指引</a>
					</dd>
					<dd class="dd_info"><a href="#">福币介绍</a>
					</dd>
					<dd class="dd_info"><a href="#">资金保障</a>
					</dd>
				</dl>

				<dl>
					<dt>我是商家</dt>
					<dd class="dd_info"><a href="#">商家入驻</a>
					</dd>
					<dd class="dd_info"><a href="#">会员体系</a>
					</dd>
					<dd class="dd_info"><a href="#">活动安全</a>
					</dd>
				</dl>
				<dl>
					<dt>宝贝街特色</dt>
					<dd class="dd_info"><a href="#">许愿树</a>
					</dd>
					<dd class="dd_info"><a href="#">周四盛点</a>
					</dd>
					<dd class="dd_info"><a href="#">因伙得福</a>
					</dd>
				</dl>
				<dl>
					<dt>共图大业</dt>
					<dd class="dd_info"><a href="#">招兵买马</a>
					</dd>
					<dd class="dd_info"><a href="#">拜将求帅</a>
					</dd>
					<dd class="dd_info"><a href="#">战略伙伴</a>
					</dd>
					<dd class="dd_info"><a href="#">天赐良机</a>
					</dd>
				</dl>

				<dl>
					<dt>宝贝微信账号</dt>
					<dd class="dd_info" style="margin: 0;margin-left: -12px;">
						<img src="__PUBLIC__/Home/img/weixin.png" />

					</dd>

				</dl>
			</div>

			<div align="center" style="clear:both; margin-bottom:5px; border-top: 1px solid #ccc; width:800px; margin: 0 auto;"><font color="#999999" size="-2">杭州博也科技有限公司，保留一切权利。 浙ICP备13025642号-2 © 2015 baobeijie.net 版权所有<font style="display: none;">{__RUNTIME__}</font></font>
			</div>

		</div>
	</div>
</block>

<block name="area_footer">
	
</block>